* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.logo {
  height: 45px;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  background-color: #c20000;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #a00000;
}

.menubar {
  font-size: 1.6rem;
  cursor: pointer;
}

.main-content {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  background-color: white;
  color: red;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: inline-block;
  margin: 50px auto 30px;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: fit-content;
}

.search-bar strong {
  color: red;
}

.search-bar span {
  background-color: #d9d9d9;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.search-bar a {
  color: red;
  font-weight: bold;
  margin-left: 5px;
  text-decoration: none;
}

.skill-link{
  color: white;
  margin-left: 5px;
  transition: color 0.3s;
}

.skill-link:hover {
  color: #ffe0e0;
  font-weight: bolder;
}

.filter-panel {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-panel label {
  font-size: 14px;
}

.custom-skill-input {
  border: 2px solid red;
  border-radius: 4px;
  padding: 4px 8px;
}
.student-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid red;
  margin: 10px auto;
}

.student-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-text p.skills {
  font-size: 14px;
  color: white;
  margin-top: 4px;
}

.student-text {
  font-size: 16px;
}

.student-text strong {
  display: block;
  font-weight: bold;
}

.profile-btn {
  background-color: #d92323;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.profile-btn:hover{
  background-color: white;
  color: #c20000;
  border: 1.5px solid #c20000;
}

.footer {
  background-color: #e0e0e0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  border-radius: 6px 6px 0 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-left a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.2s;
}

.footer-left a:hover {
  color: #c20000;
}

.footer-right img {
  height: 40px;
}
